section {
    height: 200px;
    padding: 100px;
    width: 80%;
    left: 35px;
    top: 10%;
    position: absolute;
    margin: auto;
    background: linear-gradient(120deg, rgb(255, 0, 255), rgb(99, 159, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 10px;
}

h1{
    text-shadow: 0 0 10px;
    text-align: center;
    background: linear-gradient(to right, rgb(255, 0, 255) 50%,rgb(99, 159, 255));
    -webkit-background-clip: text;
    color: transparent;
    border: 3px solid ; 
}
#p1{
    float: right;
    margin-right: 10px;
}
.cont {
  width: 60%;
  height: 70%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 25px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.092);
}
button{
  width: 10rem;
  height: 3rem;
  font-weight: 900;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to left, white 50%, rgb(255, 0, 255) 50%,rgb(99, 159, 255));
  background-size: 200%;
  background-position: 100%;
  transition: all ease 0.6s;}
  button:hover span{
  background-position: 0%;
}
button:hover{
  background-position: 0%;
}
span{
  background: linear-gradient(to right, white 50%, rgb(255, 0, 255) 50%,rgb(99, 159, 255));
  background-size: 200%;
  background-position: 100%;
  -webkit-background-clip: text;
  color: transparent;
  transition: all ease 0.6s;
}
table {
    text-align: center;
}
p{
  
  font-size: 15px;
  font-weight: 100;
}